.editor-buttons {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.editor-buttons button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.editor-buttons button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
} 