.circular-progress {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
}

.circular-progress-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 4px solid var(--primary-color);
  border-radius: 50%;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 